{{!-- Injects title content --}}
{{#partial "title"}}Home{{/partial}}


{{!-- Injects home content into root page --}}
{{#partial "content"}}
    <h1>Header</h1>
    <p>That was the header content</p>
{{/partial}}


{{!-- Inherits root page --}}
{{> root}}