{{!-- Injects title content --}}
{{#partial "title"}}Sign Up{{/partial}}


{{!-- Injects home content into root page --}}
{{#partial "content"}}
<div class="row">
    <div class="col-md-4 offset-md-4 text-center content">

        <h1>Sign Up</h1>
        <br>
        <form id="signup" method="POST">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="user" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="pass" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="pass2" placeholder="Password Repeat">
            </div>
            <button type="submit" class="btn btn-primary" id="signup-button">Submit</button>
            <div id="message">
            </div>
        </form>

    </div>
</div>
{{/partial}}


{{!-- Inherits root page --}}
{{> root}}